
#notes-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    max-width: 40%;
}

.note {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;

    padding: 1rem;

    border: 2px solid black;
}
    


.text {
    grid-column: span 2 / span 2;
}

#add-note-form {
    display: none;
    flex-direction: column;
    gap: 1rem;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    background-color: white;
    padding: 10px;
    max-width: 300px;
}

